{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Грузовые перевозки</h3><hr>
    <a>Грузоперевозки из Молдовы по Европе.
            Выполняем профессиональные грузоперевозки для частных лиц и организаций, по доступным ценам.
            Предоставляем услуги транспортa для перевозки крупныхногабаритных грузов: авто, продукты, электроника, одежда, обувь.</a><br>
    <hr>
    <iframe width="800" height="450"
        src="https://www.youtube.com/embed/XafW4d9XfSE?autoplay=1&mute=1">
    </iframe>

    <iframe width="800" height="450"
        src="https://www.youtube.com/embed/oUOmFcyOsKk?autoplay=1&mute=1">
</div>
{% endblock %}
