<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{ path('home') }}>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('aboutus') }}>About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('data') }}>Data</a>
      </li>
    </ul>
  </div>
</nav>